<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="color: white;">Risos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="grid-container">

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" >
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" draggable="true" ondragstart="drag(event)" id="drag1" >
    </div>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" draggable="true" ondragstart="drag(event)" id="drag2" >
    </div>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" draggable="true" ondragstart="drag(event)" id="drag3" >
    </div>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" draggable="true" ondragstart="drag(event)" id="drag4" >
    </div>
    <div>
      <div id ="div2" class="grid-item" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
    </div>
    </div> -->

    <!-- <div id="dialog-box-container">
      <div id="header"
          (mousedown)="mousedown($event)"
          (mousemove)="mousemove($event)"
          (mouseup)="mouseup($event)"
      >
          <div id="title-div">
              <h5 id="title">Edit Global Name</h5>
          </div>
      </div>
      <div id="content">
          <div id="label-area">

          </div>
              <input type="text" id="text-box">
      </div>
      <div id="footer">
          <div id="ok-button-div">
              <button type="button" id="ok-button">OK</button>
          </div>
          <div id="cancel-button-div">
              <button type="button" id="cancel-button">Cancel</button>
          </div>
      </div>
  </div> -->

  <!-- <div id="div" -->


    <!-- <div class="example-boundary"> -->
      <!-- <div class="example-box" id="rec"   >
        1
      </div> -->
      <div id="image" style="position: relative;">
        <img src="https://api.risos.co/mediafiles/IMG_6031_eueyw3O.jpeg" style="position: absolute;">
      <div id="rec" class="rec" style="position: absolute;">
        <!-- <div id="back"></div> -->
        <div class='resizers'>
          <div class='resizer top-left' id="rec_tl"></div>
          <div class='resizer top-right' id="rec_tr"></div>
          <div class='resizer bottom-left' id="rec_bl"></div>
          <div class='resizer bottom-right' id="rec_br"></div>
        </div>
      </div>
      </div>



      <ion-row style="padding-top: 20em;" class="ion-justify-content-center ion-padding">
        <ion-col class="ion-text-center" size="12" size-lg="8">
          <ion-button
            (click)="evaluate()"
            shape="round"
            style="
              text-transform: none;
              width: 100%;
              color: black;
              --background: #3abff8;
              height: 2em;
              font-size: 1em;
              border-radius: 20px 20px 20px 20px;
              border: 1px solid #e5e5ea;
              box-shadow: 0px 1px 2px #000000;
              font-weight: lighter;
            "
          >
            Evaluate
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-segment>
            <ion-segment-button (click)="fullwhite()">Fashion</ion-segment-button>
            <ion-segment-button (click)="white()">Natural</ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!-- <img src="../../assets/teeth.png"> -->
      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col class="ion-text-center" size="12" size-lg="8">
          <ion-button
            (click)="finish()"
            shape="round"
            style="
              text-transform: none;
              width: 100%;
              color: black;
              --background: #3abff8;
              height: 2em;
              font-size: 1em;
              border-radius: 20px 20px 20px 20px;
              border: 1px solid #e5e5ea;
              box-shadow: 0px 1px 2px #000000;
              font-weight: lighter;
            "
          >
            Finish
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- <img src="http://37.152.185.177:8000/mediafiles/IMG_6031_eueyw3O.jpeg"> -->
      <!-- <div id="rec2" class="rec"></div> -->
      <!-- <img src="../../assets/tile.png" id="rec"> -->

      <!-- <div class="example-box" id="rec2"   >
        2
      </div>

      <div class="example-box" id="rec3"   >
        3
      </div> -->
    <!-- </div> -->


    <!-- <app-resize [width]="300"
    [height]="150"
    [left]="100"
    [top]="100"></app-resize> -->


</ion-content>
