ion-toolbar {
  --background: #0000ff;
}

ion-tab-bar{
  --background:#f2f2f7;
}

ion-content{
  --background:#f2f2f7;
}

ion-searchbar{
  --border:1px solid #aaaaaa;
  --border-radius: 20px 20px 20px 20px;
  --placeholder-color:#aaaaaa;
  --background:#f8f7fa;
}
