<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" style="box-shadow: 0px 1px 2px #000000">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: white" translate>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()" style="box-shadow: 0px 1px 2px #000000">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="padding-top: 2em" class="ion-justify-content-center ion-padding-horizontal ion-padding-top">
    <ion-col size="4">
      <ion-row class="ion-justify-content-center">
        <ion-col class="vertical-align-content">
          <img src="../../assets/final back white-01.png" alt="" style="height: 12vh; border-radius: 50%" />
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8">
      <ion-row style="padding-top: 1em">
        <ion-col>
          <ion-label style="font-size: 1.2em">
            <strong translate> Good morning </strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> {{PhoneNumber}} </ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>4</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Processing Patients
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>12</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Processing Orders
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>40</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Total Patients
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>12</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Available Labs
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-label class="ion-text-left">
        <strong translate> Notifications </strong>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>Welcome to our app</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Create your first patients</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Patient Nima is processing</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-label class="ion-text-left">
        <strong translate> Menu </strong>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="4" class="ion-text-center">
      <ion-button
      joyrideStep="firstStep"
        style="--border-radius: 50%; --background:#bb5feb;"
        title="Patients Button"
        text="Button to have the patients list"
        [routerLink]="['/tabs/patients']"
        shape="circle"
        size="large"
      >
        <ion-icon src="../../assets/lnr-users.svg"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button
      joyrideStep="secondStep"
      title="Notifications"
        text="Your Notifications"
        [routerLink]="['/tabs/notification']"
        style="--border-radius: 50%; color: #777777; --background: #3eb5df"
        shape="circle"
        size="large"
      >
        <ion-icon src="../../assets/lnr-alarm.svg"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button
      joyrideStep="thirdStep"
      title="Profile"
        text="You can see your profile here"
        style="--border-radius: 50%; color: #777777; --background: #bb5feb"
        [routerLink]="['/tabs/profile']"
        shape="circle"
        size="large"
      >
        <ion-icon src="../../assets/lnr-user.svg"> </ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button
      joyrideStep="4thStep"
      title="Labs"
        text="List of Active laboratories"
        style=" --border-radius: 50%; color: #777777; --background: #7be7ff"
        [routerLink]="['/tabs/labs']"
        shape="circle"
        size="large"
      >
        <ion-icon
          src="../../assets/gauge.svg"
        >
        </ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4" class="ion-text-center">
      <ion-button
      joyrideStep="5thStep"
      title="Tutorial "
        text="You can learn how to use app here"
        style="--border-radius: 50%; color: #777777; --background: #3eb5df"
        [routerLink]="['/tutorial']"
        shape="circle"
        size="large"
      >
        <ion-icon
          src="../../assets/lnr-question-circle.svg"
          style="color: #f2f2f7"
        ></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="4" class="ion-text-center">
      <ion-button
        style="--border-radius: 50%; color: #777777; --background: #7be7ff"
        (click)="tut()"
        shape="circle"
        size="large"
      >
        <ion-icon
          name="chatbubbles-outline"
        ></ion-icon>
      </ion-button>
    </ion-col>


  </ion-row> -->

  <!-- <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-label class="ion-text-left">
        <strong translate> Best Rated Labs </strong>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal ion-justify-content-center">
    <ion-col size="12">
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide
          *ngFor="let item of labs |async"
          style="height: 15vh; width: 15vh"
          class="ion-padding"
        >
          <div class="my_Overlay">
            <ion-row><ion-col class="ion-text-center">{{item.node.relatedProfile.firstName}}</ion-col></ion-row>
            <ion-row><ion-col class="ion-text-center"><ngx-stars [readonly]="true"  [initialStars]=item.node.rating [color]="'#e6fb23'"></ngx-stars></ion-col></ion-row>

          </div>
            <img
              src="../../assets/lab1.png"
              alt="Avatar"
              class="image"
              style="width: 100%"
            />

        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row> -->







  <!-- <ion-row class="ion-padding-horizontal ion-padding-vertical">
    <ion-col>
      <ion-label class="ion-text-left">
        <strong translate>
         Recent Activity
        </strong>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-slides [options]="{ slidesPerView: '3.5', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let item of patients | async" style="width: 15vh; height: 12vh;" class="ion-padding-horizontal">
      <ion-col>
      <img src="https://api.risos.ir/mediafiles/{{item.node.relatedProfile.profilePic}}" alt=""  style="border-radius:20px">
          <div class="my_Overlay">{{item.node.relatedProfile.firstName}}</div>
        </ion-col>
    </ion-slide>
  </ion-slides> -->

  <!-- <star-rating value:5 totalstars:5 checkedcolor="yellow" uncheckedcolor="white" size="24px"></star-rating> -->
</ion-content>