ion-toolbar {
  --background: #0000ff;
}

ion-content {
  --background: #f2f2f7;
}


ion-input{
  --border:1px solid #aaaaaa;
  --border-radius: 20px 20px 20px 20px;
  --placeholder-color:#aaaaaa;
  --background:#f6f6f6;
}


ion-segment-button{
  // word-wrap: break-word;
  // min-height: 70px;
  // line-height: 1.5rem !important;

  // padding-left: 0px;
  // padding-right: 0px;

}