ion-toolbar{
  --background:#0000ff;
}


ion-input{
  border:1px solid #aaaaaa;
  border-radius: 20px 20px 20px 20px;
  --placeholder-color:#aaaaaa;
  --background:#f8f7fa;
  --padding-start:0.5em;
  height: 3em;
}



ion-content{
  --background:#f2f2f7;
}

.footer{
  // position: fixed;
  // bottom: 4em;
  padding-top: 3em;
  width: 100%;
}

ion-tab-bar{
  --background:#f2f2f7;
}
